.blog-content h3 {
    text-align: center;
    padding: 30px 0;
    font-size: 30px;
}

.blog-content .data {
    text-align: center;
    color: #555;
    padding: 15px;
}

.blog-content p {
    text-indent: 2em;
    padding: 8px;
}

.nav {
    width: 100%;
    height: 50px;
    background-color: rgba(145, 153, 164, 0.4);
    color: white;

    display: flex;

    align-items: center;

}

.nav a {
    /* margin: 15px; */
    color: white;
    text-decoration: none;
    padding: 0 10px;
}

.nav .pass {
    /* margin: 15px; */
    color: rgb(149, 244, 143);
    text-decoration: none;
    padding: 0 10px;
}