.log {
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logDiv {
    width: 350px;
    height: 350px;
    /* background:  red; */
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.log h3 {
    text-align: center;
    padding: 50px 0;
    font-size: 30px;
}

.logDiv .row {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logDiv .row span {
    display: block;

    width: 70px;

    font-weight: 700;
}

.logDiv .row input {
    width: 200px;
    height: 40px;
    font-size: 22px;
    line-height: 40px;
    padding-left: 10px;
    border-radius: 10px;
    /* border: none; */
    outline: none;
}

.logDiv .row #submit {
    width: 135px;
    height: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-top: 15px;
}

.row #submit:active {
    background-color: #bcb6b6;
}