.paper {
    width: 100%;
    padding: 20px;
}

.paper .title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
}

.paper .data {
    text-align: center;
    padding: 10px 0;
}

.paper .static {
    text-indent: 2em;
}

.paper a {
    display: block;
    width: 140px;
    height: 40px;
    margin: 0 auto;
    border: 2px black solid;
    color: black;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    margin: 10px auto;

    /* 过渡 */
    transition: all 0.3s;
}

.paper a:hover {
    background: #333;
    color: white;
}